  <div class="grid p-fluid mt-4" [formGroup]="workForm" >
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="Customer Name" formControlName="customer_name" (change)="addTask()">
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
        <input type="text" pInputText placeholder="Phone Number" formControlName="phone_number" (change)="addTask()">
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-briefcase"></i></span>
        <input  type="text" pInputText placeholder="Work" formControlName="work" (change)="addTask()">
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-clock"></i></span>
        <p-calendar formControlName="estimated_date"  dateFormat="dd-mm-yy" (click)="addTask()"></p-calendar>
      </div>
    </div>
    <div class="col-12 ">
    <textarea  rows="5" cols="30" placeholder="Description" pInputTextarea formControlName="description" (change)="addTask()"></textarea>
    </div>
  </div>

  <div class="card">
    <p-table [value]="taskList.tasks" >
        <ng-template pTemplate="header">
            <tr>
                <th>Customer Name</th>
                <th>Work</th>
                <th>Estimated Date</th>
                <th>View</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tasks>
            <tr  [ngClass]="{
              'bg-blue-200': tasks.work_status.id === 1,
              'bg-teal-100': tasks.work_status.id === 2,
              'bg-yellow-100': tasks.work_status.id === 3
            }">
                <td>{{ tasks.customer_name }}</td>
                <td>{{ tasks.work }}</td>
                <td>{{ tasks.estimated_date  | date : 'dd/MM/yyyy'}}</td>
                <td><p-button icon="pi pi-eye" (click)="showDetails(tasks)" [rounded]="true" [text]="true" severity="danger " />
                  <p-button icon="pi pi-trash" [rounded]="true" (click)="deleteTask(tasks.id)" [text]="true" severity="danger " />
                </td>
              </tr>
        </ng-template>
    </p-table>
</div>

