<div class="card">
  <p-menubar [model]="items">
      <ng-template pTemplate="start">
          <img src="assets/sewing.png" height="40" class="mr-2" />
          
      </ng-template>
      <ng-template pTemplate="end">
          <!-- This part is empty in your code -->
      </ng-template>
  </p-menubar>
</div>


<!-- app.component.html -->
<router-outlet></router-outlet>
<footer class="bg-light text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
       
        href="https://www.facebook.com/profile.php?id=100011987624284"
        role="button"
        ><i class="pi pi-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        
        href="https://www.google.com/maps/place/Zue+stiching+studio/@10.4807716,76.2483556,17z/data=!3m1!4b1!4m6!3m5!1s0x3ba7f17ddb914115:0xe6b808f5dd3edcd!8m2!3d10.4807663!4d76.2509305!16s%2Fg%2F11v68d2572?authuser=0&entry=ttu"
        role="button"
        ><i class="pi pi-map-marker"></i
      ></a>

      <!-- Google -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        href="https://www.google.com/search?q=zue+stiching+studio+ollur&rlz=1C1VDKB_enIN1062IN1062&oq=zue+stiching+studio+ollur&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIJCAEQIRgKGKABMgkIAhAhGAoYoAEyCQgDECEYChigAdIBCTEwMzk4ajBqN6gCALACAA&sourceid=chrome&ie=UTF-8"
        role="button"
        ><i class="pi pi-google"></i
      ></a>

      <!-- Instagram -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        
        href="https://instagram.com/zue_stitching_studio?igshid=NGVhN2U2NjQ0Yg=="
        role="button"
        ><i class="pi pi-instagram"></i
      ></a>

      <!-- mail -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
       
        href="https://contacts.google.com/person/c3640897195620538556"
        role="button"
        ><i class="pi pi-envelope"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

</footer>